<!-- <app-gallery [list]="animes"></app-gallery> -->
<!-- pintamos la galeria en home-page, creando una variable de nombre list con el valor de animes, recogidos en el ts de home-page. Despues realizaremos un input de la variable list en gallery, para pintar los datos recogidos. [asi se declaran las variables de] -->

<h1>Bienvenido!</h1>

Utiliza la pestaña animes para examinar nuestras categorias, clickea en lo que te interese y vuelve a clickear en la pestaña animes para volver a mostrar las categorias, disfruta. 